# Control de Versiones
.git
.gitignore

# Entornos Virtuales Locales
.venv
env/
venv/
__pycache__/
*.pyc

# Archivos Locales 
load_test_1000.py
stress_test.py
evaluate_quotes.py
quotes_output.txt
run_cotizador.bat
README.md
